<div class="container">
    <div class="row" >
        <div class="col-md-6" >
            <h1>Details</h1>
            <h5>Name: <%= @company.name %></h5>
            <h5>Email: <%= @company.email %></h5>
            <h5>Phone Number: <%= @company.phone_number %></h5>
            <h5>Branch: <%= @company.branch %></h5>
        </div>
    </div>
<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>Postcode</th>
            <th>State</th>
            <th>Country</th>

        </tr>

        <% @company.locations.each do |location| %>                    
            <tr>
                <td><%= location.name %></td>
                <td><%= location.address_1 %></td>
                <td><%= location.address_2 %></td>
                <td><%= location.postcode %></td>
                <td><%= location.state %></td>
                <td><%= location.country %></td>
            </tr>
        <% end %>                    
    </table>