<% @title="Edit Item" %>

<div class="container">
    <div class="row">
        <div class="col-6 mx-auto my-auto">
        <h2 class="center mt-5">Edit Item</h2>
            <%= form_with(model: @item, local: true, data: { turbo: false }) do |f| %>
                <%= render 'shared/error_messages' , object: f.object%>

                <%= f.label :Company, class: 'required form-label' %>
                <%= f.text_field :company_id, value:current_user.company.name, class: 'form-control', :readonly => true %>
                <%= f.hidden_field :company_id, value: current_user.company.id %>
                
                <%= f.label :item_code, class: 'required form-label' %>
                <%= f.text_field :item_code, class: 'form-control', required: true %>

                <%= f.label :name, class: 'required form-label' %>
                <%= f.text_field :name, class: 'form-control', required: true %>

                <%= f.label :description, class: 'required form-label' %>
                <%= f.text_field :description, class: 'form-control', required: true  %>

                <%= f.label :quantity_stock , class: 'required form-label'%>
                <%= f.number_field :quantity_stock, class: 'form-control', required: true  %>

                <%= f.label :price, class: 'required form-label' %>
                <%= f.number_field :price, class: 'form-control', step: :any, required: true %>

                <%= f.label :cost, class: 'required form-label' %>
                <%= f.number_field :cost, class: 'form-control', step: :any, required: true  %>

                <%= f.label :profit, class: 'required form-label' %>
                <%= f.number_field :profit, class: 'form-control', step: :any, required: true  %>

                <%= f.label :category, class: 'required form-label'%>
                <%= f.select :category_id,Category.all.pluck(:name,:id),{prompt:'select'},{class: "form-control"}%>

                <%= f.label :Location, class: 'required form-label'%>
                <div>
                    <% current_user.company.locations.each do |location| %>
                        <div id = "checkboxes" class="form-check my-2">
                            <%= check_box_tag "[location_item][location_ids][]", location.id, nil, class: "form-check-input"%>
                            <%= location.name %><br>
                        </div>
                        <% location_items = LocationItem.where(location_id: location.id, item_id: @item.id) %> 
                            <% location_items.each do |location_item| %>
                                <div id= "price">
                                    <%= f.label :outlet_price , class: 'required form-label'%>
                                    <%= number_field_tag "[location_item][outlet_prices][#{location.id}][]", location_item.outlet_price, step: :any, class: 'form-control' %>

                                    <%= f.label :outlet_cost , class: 'required form-label'%>
                                    <%= number_field_tag "[location_item][outlet_costs][#{location.id}][]", location_item.outlet_cost, step: :any, class: 'form-control' %>

                                    <%= f.label :outlet_profit, class: 'required form-label' %>
                                    <%= number_field_tag "[location_item][outlet_profits][#{location.id}][]", location_item.outlet_profit, step: :any, class: 'form-control' %>
                                </div>
                            <% end %>
                    <% end %>
                </div>
                <div class="d-grid gap-2 my-2">
                    <%= f.submit "Save Changes", class: "btn btn-primary" %>
                    <%= link_to 'Back', items_path, class: 'btn btn-success' %>
                </div>

            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
    var checkbox = document.querySelectorAll('div#checkboxes')
    var input_checkbox = document.querySelectorAll('div#price')

    $(input_checkbox).hide()
    $(checkbox).click(function(){
        $(this).next(input_checkbox).toggle()
    })

    $('#item_price, #item_cost').change(function() {
        var price = parseFloat($('#item_price').val());
        var cost = parseFloat($('#item_cost').val());
        var cal_profit = (price - cost).toFixed(2);
        $('#item_profit').val(cal_profit)
    })

    $('input[name *= "outlet_price"], input[name *= "outlet_cost"]').change(function() {
        var new_outlet_price = parseFloat($('input[name *= "outlet_price"]').val());
        var new_outlet_cost = parseFloat($('input[name *= "outlet_cost"]').val());
        var cal_outlet_profit = (new_outlet_price - new_outlet_cost).toFixed(2);
        console.log("Price: " + new_outlet_price)
        console.log("Cost: " + new_outlet_cost)
        console.log("Profit: " +  cal_outlet_profit)
        $('input[name *= "outlet_profit"]').val(cal_outlet_profit)
    })


</script>