<% @title="Item" %>
<h1 class="center mx-auto">Items</h1>

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Item Code</th>
            <th>Item Name</th>
            <th>Description</th>
            <th>Quantity Stock</th>
            <th>Price</th>
            <th>Cost</th>
            <th>Profit</th>
            <th>Category Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

            <% @items.each do |item| %>  
                <% if current_user.company_id == item.company_id %>                                           
                    <tr>
                        <td><%= item.id%></td>
                        <td><%= item.item_code%></td>
                        <td><%= link_to item.name, item_path(item)%></td>
                        <td><%= item.description %></td>
                        <td><%= item.quantity_stock%></td>
                        <td><%= item.price%></td>
                        <td><%= item.cost%></td>
                        <td><%= item.profit%></td>
                        <td><%= item.category.name%></td>
                        <td>
                            <%= link_to edit_item_path(item), class: "btn btn-warning" do %>
                                <i class="bi bi-pencil-fill"></i>
                            <% end %>
                        </td>
                        <td>
                            <%= button_to item_path(item), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %> 
                                <i class="bi bi-trash-fill"></i>
                            <% end %> 
                        </td>
                    </tr>
            <% end %> 
        <% end %>            
    </table>

    <% if logged_in? && current_user.role_id? %>
        <%= link_to 'Add Item', new_item_path, class: 'btn btn-success' %>
    <% end %>
</div>