<% @title=@item.name%>

<div class="container mt-5">
    <div class="row" >
        <div class="col">
            <h2>Item Details</h2>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="btn btn-warning" href="/items/<%= @item.id %>/edit" role="button">Edit Item</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Item Code: <br/> 
                <p class="form-control my-2"><%= @item.item_code %></p>
            </h5>
            <h5>Name: <br/> 
                <p class="form-control my-2"><%= @item.name %></p>
            </h5>
            <h5>Description: <br/> 
            <p class="form-control my-2"><%= @item.description %></p>
            </h5>
        </div>
        <div class="col">
            <h5>Item Price: <br/> 
                <p class="form-control my-2"><%= @item.price %></p>
            </h5>
            <h5>Item Cost: <br/>
                <p class="form-control my-2"><%= @item.cost %></p>
            </h5>
            <h5>Item Profit: <br/>
                <p class="form-control my-2"><%= @item.profit %></p>
            </h5>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col">
            <h3 class = "my-2" >Item price in other location</h3>
        </div>
        <div class="input-group justify-content-end my-2 col">
            <div class="form-outline">
                <input type="search" class="form-control" id="myInput" placeholder="Search" />
            </div>
            <button type="button" class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>

    <div class="table-responsive"> 
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Location Id</th>
                <th>Location Code</th>
                <th>Name</th>
                <th>Locations</th>
                <th>Outlet Price</th>
                <th>Outlet Cost</th>
                <th>Outlet Profit</th>
                <th>Edit</th>
            </tr>
        </thead>
            
            <% item_locations = @item.locations%>
            <% item_locations.sort_by(&:id).each do |location| %>            
                <% location_items = LocationItem.where(location_id: location.id, item_id: @item.id).first %>   
                <tr class="location_item_table">
                    <td><%= location.id %></td>
                    <td><%= location.location_code %></td>
                    <td><%= location.name %></td>
                    <td><%= location.company.name %></td>
                    <td><%= location_items.outlet_price %></td>
                    <td><%= location_items.outlet_cost %></td>
                    <td><%= location_items.outlet_profit %></td>
                    <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= location.id %>">
                            <i class="bi bi-pencil-fill"></i>
                        </button>

                        <div class="modal fade" id="exampleModal-<%= location.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <p class="modal-title" id="exampleModalLabel-<%= location.id %>"> <%= location.name %> </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <%= form_with(model: @item, local: true, data: { turbo: false }) do |f| %>
                                            <% location_items = LocationItem.where(location_id: location.id, item_id: @item.id, id: location_items.id) %>
                                            <% location_items.each do |location_item| %>
                                                <% f.label :Company, class: 'required' %>
                                                <% f.text_field :company_id, value:current_user.company.name, class: 'form-control', :readonly => true %>
                                                <%= f.hidden_field :company_id, value: current_user.company.id %>

                                                <% f.label :LocationItem, class: 'required' %>
                                                <%= hidden_field_tag "[location_item][id]", location_item.id %>
                                                
                                                <div id= "price">
                                                    <%= f.label :outlet_price , class: 'required form-label'%>
                                                    <%= number_field_tag "[location_item][outlet_prices]", location_item.outlet_price, step: :any, class: "form-control" %>

                                                    <%= f.label :outlet_cost , class: 'required form-label'%>
                                                    <%= number_field_tag "[location_item][outlet_costs]", location_item.outlet_cost, step: :any, class: "form-control" %>

                                                    <%= f.label :outlet_profit, class: 'required form-label' %>
                                                    <%= number_field_tag "[location_item][outlet_profits]", location_item.outlet_profit, step: :any, class: "form-control" %>
                                                </div>
                                            <% end %>
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Save Changes</button>
                                </div>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </td>
                </tr>
            <% end %>  
        </table>
    </div>
    <%= link_to 'Back', items_path, class: 'btn btn-success' %>

<script type="text/javascript">

    $('#item_price, #item_cost').change(function() {
        var price = parseFloat($('#item_price').val());
        var cost = parseFloat($('#item_cost').val());
        var cal_profit = (price - cost).toFixed(2);
        $('#item_profit').val(cal_profit)
        var profit = parseFloat($('#item_profit').val())

        var outlet_price = $('input[name *= "outlet_price"]')
        var outlet_cost = $('input[name *= "outlet_cost"]')
        var outlet_profit = $('input[name *= "outlet_profit"]')

        $(outlet_price).val(price)
        $(outlet_cost).val(cost)
        $(outlet_profit).val(profit)
        
    })

    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("tr.location_item_table").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    
</script>