<% @title=@item.name%>
<div class="container">
    <div class="row" >
        <div class="col-md-6" >
            <h1>Item Details</h1>
            <h5>Item Code: <%= @item.item_code %></h5>
            <h5>Name: <%= @item.name %></h5>
            <h5>Description: <%= @item.description %></h5>
            <h5>Price: <%= @item.price %></h5>
            <h5>Cost: <%= @item.cost %></h5>
            <h5>Profit: <%= @item.profit %></h5>
        </div>
    </div>

    <h3>Item price in other location</h3>
    <table class="table table-hover">
        <tr>
            <th>Location Id</th>
            <th>Location Code</th>
            <th>Name</th>
            <th>Locations</th>
            <th>Outlet Price</th>
            <th>Cost</th>
            <th>Profit</th>
        </tr>

        <% @item.locations.each do |location| %> 
            <% location_item = LocationItem.where(location_id: location.id, item_id: @item.id).first %>                   
            <tr>
                <td><%= location.id %></td>
                <td><%= location.location_code %></td>
                <td><%= location.name %></td>
                <td><%= location.company.name %></td>
                <td><%= location_item.outlet_price %></td>
                <td><%= location_item.outlet_cost %></td>
                <td><%= location_item.outlet_profit %></td>
            </tr>
        <% end %>  
    </table>
        <%= link_to 'Back', items_path, class: 'btn btn-success'%>
</div>