<% @title="Add Supplier" %>
<h1 class="center">Add supplier</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @supplier, local: true, data: { turbo: false }) do |f| %>
            <%= render 'shared/error_messages' , object: f.object%>

            <%= f.label :Company, class: 'required'%>
            <%= f.text_field :company_id, value:current_user.company.name, class: 'form-control', :readonly => true %>
            <%= f.hidden_field :company_id, value: current_user.company.id %>

            <%= f.label :first_name, class: 'required' %>
            <%= f.text_field :first_name, class: 'form-control', required: true %>

            <%= f.label :last_name, class: 'required' %>
            <%= f.text_field :last_name, class: 'form-control', required: true %>

            <%= f.label :username, class: 'required' %>
            <%= f.text_field :username, class: 'form-control', required: true %>

            <%= f.label :email, class: 'required' %>
            <%= f.email_field :email, class: 'form-control', required: true %>

            <%= f.label :phone_number, class: 'required' %>
            <%= f.text_field :phone_number, class: 'form-control', required: true%>

            <button type='button' class = "btn btn-primary" onclick="addMore()">Add Item</button>
            <div id="original-inputs">
                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-4">
                            <%= f.label :item, class: 'required'%>
                            <% items = Item.where(company_id: current_user.company.id)%>
                            <%= text_field_tag "[supplier_item][item_ids][]", nil, {list: 'browser-item'} %>
                                <datalist id="browser-item" >
                                    <%= select_tag "[supplier_item][item_select][]", options_for_select(items.collect{ |item| [item.name, item.id]}), {class: "form-control"} %>
                                </datalist>
                        </div> 

                        <div class="col-md-4">
                            <%= f.label :location, class: 'required' %>
                             <% locations = Location.where(company_id: current_user.company.id)%>
                            <%= text_field_tag "[supplier_item][location_ids][]", nil , {list: 'browser-location'} %>
                            <datalist id="browser-location" >
                                <%= select_tag "location_select", options_for_select(locations.collect{|location| [location.name, location.id]}), {class: "form-control"}%>
                            </datalist>
                        </div> 

                        <div class="col-md-4">
                            <%= f.label :supplier_price, class: 'required' %>
                           <%=  number_field_tag "[supplier_item][supplier_prices][]", nil, step: :any  %>
                        
                        </div> 
                    </div>
                </div>

            </div>

            <div id="dynamic-inputs"></div>


            <%= f.submit "Create Supplier", class: "btn btn-primary" %>
            <%= link_to 'Back', suppliers_path, class: 'btn btn-success', style: 'width: 39.7em' %>
        <% end %>
    </div>
</div>

<script type="text/javascript">
    function addMore(){
        $("#dynamic-inputs").append($("#original-inputs").html())
    }
</script>