<% @title="Add Supplier" %>
<h1 class="center">Add supplier</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @supplier, local: true, data: { turbo: false }) do |f| %>
            <%= render 'shared/error_messages' , object: f.object%>

            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>

            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>

            <%= f.label :username %>
            <%= f.text_field :username, class: 'form-control' %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :phone_number %>
            <%= f.text_field :phone_number, class: 'form-control'%>

            <%= f.submit "Create Supplier", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>