<% @title=@supplier.username%>

<div class="container mt-5">
    <div class="row" >
        <div class="col-md-6" >
            <h1>Supplier Details</h1>
            <h5>First Name: <br/> 
                <p class="form-control my-2"><%= @supplier.first_name %></p>
            </h5>
            <h5>Last Name: <br/> 
                <p class="form-control my-2"><%= @supplier.last_name %></p>
            </h5>
            <h5>Username: <br/>
                <p class="form-control my-2"><%= @supplier.username %></p>
            </h5>
            <h5>Email: <br/> 
                <p class="form-control my-2"><%= @supplier.email %></p>
            </h5>
            <h5>Phone Number: <br/> 
                <p class="form-control my-2"><%= @supplier.phone_number %></p>
            </h5>
            <h5>Company Name: <br/> 
                <p class="form-control my-2"><%= @supplier.company.name %></p>
            </h5>
        </div>
    </div>
    <h3 class="my-2">Supplier Item in other location</h3>
    <div class="table responsive">
        <table class="table table-hover">
            <tr>
                <th>Item Code </th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Item Price</th>
                <th>Item Cost</th>
                <th>Item Profit</th>
                <th>Category Name</th>
                <th>Location Id</th>
                <th>Supplier Price</th>
                <th>Edit</th>

            </tr>

            <% @supplier.items.each do |item| %> 
            <% supplier_item = SupplierItem.where(item_id: item.id, supplier_id: @supplier.id).first%>                     
                <tr>
                    <td><%= item.item_code %></td>
                    <td><%= item.name %></td>
                    <td><%= item.description %></td>
                    <td><%= item.quantity_stock %></td>
                    <td><%= item.price %></td>
                    <td><%= item.cost %></td>
                    <td><%= item.profit %></td>
                    <td><%= item.category.name %></td>
                    <td><%= supplier_item.location.name %></td>
                    <td><%= supplier_item.supplier_price %></td>
                    <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= item.id %>">
                            <i class="bi bi-pencil-fill"></i>
                        </button>

                        <div class="modal fade" id="exampleModal-<%= item.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <p class="modal-title" id="exampleModalLabel-<%= item.id %>"> <%= item.name %> </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                       <%= form_with(model: @supplier, local: true, data: { turbo: false }) do |f| %>
                                                <% item = Item.find(item.id) %> 
                                                <% category = Category.all %>
                                                <%= f.label :Company, class: 'required form-label' %>
                                                <%= f.text_field :company_id, value:current_user.company.name, class: 'form-control', :readonly => true %>
                                                <%= hidden_field_tag '[item][company_id]', current_user.company.id %>

                                                <%= hidden_field_tag '[item][id]', item.id%>

                                                <%= f.label :code, class: 'required'%>
                                                <%= text_field_tag '[item][code]', item.item_code, class: 'form-control', required: true %>

                                                <%= f.label :name, class: 'required'%>
                                                <%= text_field_tag '[item][name]', item.name, class: 'form-control', required: true %>

                                                <%= f.label :description, class: 'required'%>
                                                <%= text_field_tag '[item][description]', item.description, class: 'form-control', required: true %>

                                                <%= f.label :quantity, class: 'required' %>
                                                <%= number_field_tag "[item][quantity]", item.quantity_stock, step: :any, class: "form-control" %>

                                                <%= f.label :price, class: 'required' %>
                                                <%= number_field_tag "[item][price]", item.price, step: :any, class: "form-control" %>

                                                <%= f.label :cost, class: 'required' %>
                                                <%= number_field_tag "[item][cost]", item.cost, step: :any, class: "form-control" %>

                                                <%= f.label :profit, class: 'required' %>
                                                <%= number_field_tag "[item][profit]", item.profit, step: :any, class: "form-control" %>

                                                <%= f.label :category, class: 'required form-label'%>
                                                <%= select_tag "[item][category]", options_from_collection_for_select(category, "id", "name", item.category_id), class: 'form-control'%>

                                                <%= f.label :location, class: 'required form-label' %>
                                                <% locations = Location.where(company_id: current_user.company.id)%>
                                                <%= text_field_tag "[item][location_id]", nil, {list: 'browser-location', class: 'form-control'} %>
                                                <datalist id="browser-location" >
                                                    <% locations.each do |location| %>
                                                        <option data-value = <%= location.id %> value = <%= "#{location.location_code} - #{location.name}"%>></option>
                                                    <% end %>
                                                </datalist>

                                                <%= f.label :supplier_price, class: 'required form-label' %>
                                                <%=  number_field_tag "[item][supplier_price]", supplier_item.supplier_price, step: :any, class: 'form-control'  %>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Save Changes</button>
                                </div>
                                <% end %>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
    <%= link_to 'Back', suppliers_path(@supplier), class: 'btn btn-success' %>