<div class="container">
    <div class="row" >
        <div class="col-md-6" >
            <h1>Supplier Details</h1>
            <h5>First Name: <%= @supplier.first_name %></h5>
            <h5>Last Name: <%= @supplier.last_name %></h5>
            <h5>Username: <%= @supplier.username %></h5>
            <h5>Email: <%= @supplier.email %></h5>
            <h5>Phone Number: <%= @supplier.phone_number %></h5>
            <h5>Company Name: <%= @supplier.company.name %></h5>
        </div>
    </div>
    <h3>Supplier Item in other location</h3>
    <table class="table table-hover">
        <tr>
            <th>Item Code </th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Item Price</th>
            <th>Item Cost</th>
            <th>Item Profit</th>
            <th>Category Name</th>
            <th>Location Id</th>
            <th>Supplier Price</th>

        </tr>

        <% @supplier.items.each do |item| %> 
         <% supplier_item = SupplierItem.where(item_id: item.id, supplier_id: @supplier.id).first%>                     
            <tr>
                <td><%= item.item_code %></td>
                <td><%= item.name %></td>
                <td><%= item.description %></td>
                <td><%= item.quantity_stock %></td>
                <td><%= item.price %></td>
                <td><%= item.cost %></td>
                <td><%= item.profit %></td>
                <td><%= item.category.name %></td>
                <td><%= supplier_item.location.name %></td>
                <td><%= supplier_item.supplier_price %></td>
            </tr>
        <% end %>                    
    </table>
    <%= link_to 'Back', suppliers_path(@supplier), class: 'btn btn-success' %>