<div class="container">
    <div class="row" >
        <div class="col-md-6" >
            <h1>Supplier Details</h1>
            <h5>First Name: <%= @supplier.first_name %></h5>
            <h5>Last Name: <%= @supplier.last_name %></h5>
            <h5>Username: <%= @supplier.username %></h5>
            <h5>Email: <%= @supplier.email %></h5>
            <h5>Phone Number: <%= @supplier.phone_number %></h5>
            <h5>Company Name: <%= @supplier.company.name %></h5>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Cost</th>
            <th>Profit</th>
            <th>Category Name</th>

        </tr>

        <% @supplier.items.each do |item| %>                    
            <tr>
                <td><%= item.name %></td>
                <td><%= item.description %></td>
                <td><%= item.quantity_stock %></td>
                <td><%= item.price %></td>
                <td><%= item.cost %></td>
                <td><%= item.profit %></td>
                <td><%= item.category.name %></td>
            </tr>
        <% end %>                    
    </table>