<% @title="Locations" %>
<h1 class="center">Locations</h1>

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address 1</th>
            <th>Address 2</th>
            <th>Postcode</th>
            <th>State</th>
            <th>Country</th>
            <th>Company</th>
        </tr>

        <% @locations.each do |location| %>                    
            <tr>
                <td><%= location.id%></td>
                <td><%= location.name%></td>
                <td><%= location.address_1 %></td>
                <td><%= location.address_2%></td>
                <td><%= location.postcode%></td>
                <td><%= location.state%></td>
                <td><%= location.country%></td>
                <td><%= location.company.name%></td>
            </tr>
        <% end %>                    
    </table>

    <% if logged_in? && current_user.role_id? %>
        <%= link_to 'Add location', new_location_path, class: 'btn btn-success' %>
    <% end %>
</div>