<% @title="Location Details " + @location.location_code %>

<div class="container">
    <div class="row" >
        <div class="col-md-6 mt-4" >
            <h1>Location Details</h1>
            <h5>Location Code: <%= @location.location_code %></h5>
            <h5>Name : <%= @location.name %></h5>
            <h5>Address 1 : <%= @location.address_1 %></h5>
            <h5>Address 2 : <%= @location.address_2 %></h5>
            <h5>Postcode : <%= @location.postcode %></h5>
            <h5>State : <%= @location.state %></h5>
            <h5>Country : <%= @location.country %></h5>
            <h5>Company : <%= @location.company.name %></h5>
            <h5>Items Count : <%= @location.items.count %></h5>
        </div>
    </div>
    <h3 class="my-4">Item Details</h3>
    <div class="table repsonsive">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity Stock</th>
                <th>Price</th>
                <th>Cost</th>
                <th>Profit</th>
                <th>Category Name</th>
                <th>Company Name</th>
                <th>Outlet Price</th>
                <th>Outlet Cost</th>
                <th>Outlet Profit</th>
                

            </tr>

            <% @location.items.each do |item| %>  
                <% location_item = LocationItem.where(location_id: @location.id, item_id: item.id).first %>                  
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.description%></td>
                    <td><%= item.quantity_stock%></td>
                    <td><%= item.price%></td>
                    <td><%= item.cost %></td>
                    <td><%= item.profit%></td>
                    <td><%= item.category.name%></td>
                    <td><%= item.company.name%></td>
                    <td><%= location_item.outlet_price %></td>
                    <td><%= location_item.outlet_cost %></td>
                    <td><%= location_item.outlet_profit %></td>
                </tr>
            <% end %>     
        </table>
    </div>
    <%= link_to 'Back', locations_path, class: 'btn btn-success' %>               