  <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Pos System", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Add Items",   '#' %></li>
        <li><%= link_to "Add Supplier",   '#' %></li>
        <li><%= link_to "Add Outlet",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>